.navbar{
    border-bottom: solid 5px rgb(55, 55, 185);
    
}
header{
    min-height: 100vh;
    background: linear-gradient(rgb(0,0,0,.7),rgb(0,0,0,.7)) , url(../images/home.jpg);
    background-position: center;
    background-size: cover;

    padding-top: 120px;
}